*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
   font-family: 'Dongle', sans-serif;
font-family: 'Mohave', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
   text-decoration: none;
   color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
    
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px; 
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0; 
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background:  #ff0000;
    color: rgb(0, 0, 0);
    padding: 5px 30px;
    margin: 0px 0;
    border-radius: 100px;
    transition: 0.5s;
}
.btn:hover{
    background: #00f7ff;
}
.header{
    background: radial-gradient(rgb(0, 255, 64),#2600ff);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0; 
}
.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 50%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(0, 0, 0);
    
    
}
.title::after{
    content: '';
    background: #00ff37;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
}
h4{
    color: rgb(0, 0, 0);
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fat{
    color: #33ff00;
}
.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background: radial-gradient(rgb(0, 255, 55),#1900ff);
    margin-top: 80px;
    padding: 30px 0;
    
}
.col-2 .offer-img{
    padding: 50px;
}
.small{
    color: rgb(0, 0, 0);
}

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
}
.testimonial .col-3 img{
    width: 200px;
    margin-top: 170px;
    border-radius: 20%;
    
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
 font-size: 34px;
    color: #00ff37;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size:16px;
}

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 50%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    
     filter: grayscale(0);
}
.footer{
    background: rgb(38, 0, 255);
    color: #00ff0d;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #00ff00;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
    
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #ffffff;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icons{
    width: 20px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width:200000px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0px;
       width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: rgb(0, 0, 0);
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}



    